---
layout: index-en
title: Blog
published: true
---

{% include JB/setup %}

<h1 id="wb-cont">Blog</h1>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div>
    <h2 class="mrgn-bttm-0">{{ post.title }}</h2>
    <h4 class="author mrgn-tp-md">
        <span class="date">{{ post.date | date_to_long_string }}</span>
    </h4>
    <div class="content">
        {{ post.content | truncatewords: 100 }}        
    </div>
    <p class="pull-right">
        <a href="{{ post.url }}">Read Post</a>
    </p>
</div>
{% endfor %}



{% if paginator.total_pages > 1 %}
<ul class="pagination">
    
        {% if paginator.previous_page %}
        
    <li><a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a></li>
        {% else %}
    <li class="disabled"><a href="#">Prev</a></li>
        {% endif %}
    
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="active"><a href="#">{{ page }}</a></li>
        {% elsif page == 1 %}

        <li><a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    
        {% else %}

    <li><a href="{{ | site.paginate_path | prepend: site.baseurl | prepend: '/' | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    
        {% if paginator.next_page %}

    <li><a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
        {% else %}
    <li class="disabled"><a href="#">Next</a></li>
        {% endif %}    
</ul>
{% endif %}


